/* -----------------------------------------body start-------------------------------------*/
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background-color: rgb(255, 255, 255,);
}
.container {
    margin: 20px;
}
.row {
    width: 1310px;
    display: flex;
}


/* ----------------------------------------------body finis--------------------------------*/


/* ----------------------------------------------heder start ------------------------------*/
.hidersatu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0,);
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 100%;
    height: 80px;
    font-size: 30px;
}
/* ----------------------------------------------heder Finish -----------------------------*/


/* ----------------------------------------------text start--------------------------------*/
.textsatu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex: 1;
    margin: 10px;
    max-width: 100%;
    height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textdua {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(5, 84, 255);
    text-align: center;
    font-style: italic ;
    flex: 1;
    margin: 10px;
    max-width: 100%;
    height: 10px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ----------------------------------------------text finish--------------------------------*/


/* ---------------------------------------navigasi start----------------------------------- */
.navigationsatu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 25%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.navigationsatu:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(255, 255, 255);
  }

.navigationdua {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 25%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.navigationdua:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(255, 255, 255);
  }

.navigationtiga {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 25%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.navigationtiga:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(255, 255, 255);
  }

.navigationempat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 25%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.navigationempat:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(255, 255, 255);
  }

/* ---------------------------------------navigasi finish----------------------------------- */


/* ---------------------------------------sidebar start----------------------------------- */
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 50%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.imagesatu {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.buttonrumusluas {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.buttonrumuskeliling {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
}
/* ---------------------------------------sidebar finish----------------------------------- */


/* ---------------------------------------conten start----------------------------------- */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 50%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.formdata {
    border: none;
}

.button {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 100px;
    flex-wrap: wrap;
}

.button:hover {
    background-color: rgb(3, 100, 51);
    color: rgb(255, 255, 255);
  }
/* ---------------------------------------conten finish----------------------------------- */


/* ---------------------------------------footer start----------------------------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: rgb(252, 252, 252);
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 100%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
/* ---------------------------------------footer finish----------------------------------- */



